# installa library
#!pip install -q streamlit streamlit-option-menu google-genai pypdf2 pillow langchain-text-splitters pyngrok

from google.colab import drive, userdata
from pyngrok import ngrok
import subprocess
import time
